.idea/
.vscode/
cmake-build-*/
build/

*.elf
*.bin
*.hex
*.map
*.list
*.o
*.obj
*.a
*.d

compile_commands.json
CMakeUserPresets.json
*.user
*.log
Thumbs.db
.DS_Store

# CubeMX build only uses CMSIS/Include and CMSIS/Device for this target.
Drivers/CMSIS/Core/
Drivers/CMSIS/Core_A/
Drivers/CMSIS/DAP/
Drivers/CMSIS/Documentation/
Drivers/CMSIS/DSP/
Drivers/CMSIS/NN/
Drivers/CMSIS/RTOS/
Drivers/CMSIS/RTOS2/
Drivers/CMSIS/Source/
